<h1> My Dashboard </h1>


<h3>My Wines</h3>
  <p>Display wines that user has tasting notes for</p>
    <% @user.tasting_notes.each do |tn| %>
        <%= link_to tn.wine.name, user_tasting_note_path(tn.user_id, tn) %>

    <% end %>

<% if current_user %>
<%= link_to 'Add a new tasting note', new_user_tasting_note_path(@user) %>
<% end %>

