<br><br>
<div>
 <% @wineries.all.each do |w| %>
    <br>
      <fieldset>
      <legend><strong><%= link_to w.name, winery_path(w) %></strong></legend>
      <%= w.location %>
      </fieldset>
    <% end %>
</div>

<button><%= link_to 'Add a Winery', new_winery_path %></button>